[submodule "third_party/mgba"]
	path = third_party/mgba
	url = https://github.com/libretro/mgba.git
[submodule "third_party/rcheevos"]
	path = third_party/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
